* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5F5F1;
}

#title {
    width: 40%;
    text-align: center;
    line-height: 40px;
    margin: 0 auto;
}

#container {
    
    width: 60%;
    
    height: 740px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 20px auto;
}

.row {
    display: flex;

}

.card {
    
    background-color: white;
    height: 350px;
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

img {
    height: 300px;

}