* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#title {
    width: 40%;
    text-align: center;
    line-height: 40px;
    margin: 0 auto;
}

.container {
    width: 60%;
    margin: 20px auto;
    background-color: aqua;
    height: 740px;
}

.row {
    display: flex;

}

.card {
    width: calc(100%/3);
    background-color: blue;
    height: 350px;
    margin: 10px 10px;
}

img {
    height: 200px;
}